SHOPIFY_STORE=eyesaloon.myshopify.com
SHOPIFY_ADMIN_TOKEN=shpat_replace_me
PRODUCTS_CSV=data/products.csv
PRODUCT_IMAGES_DIR=data/product-images
SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
WHATSAPP_PROVIDER=
WHATSAPP_TOKEN=
